body{
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
}
#root{
    width: 500px;
    height: 100vh;
    border: 2px solid red;
    background-color: rgb(112, 112, 164);
}
p{
    background-color: #fafafa;
    padding: 20px;
    border-top: 15px;
    cursor: pointer;
}
p:nth-child(odd){
    background-color: rgb(57, 187, 144);
}