body{
    left: 50%;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
}
#root{
    width: 500px;
    height: 100vh;
    border: 2px solid red;
    background-color: rgb(112, 112, 164);
}
p{
    background-color:  #143a2d ;
    padding: 20px;
    border-top: 15px;
    cursor: pointer;
}

p:nth-child(odd){
    background-color: #39bb90;
}
p:hover{
    background-color: #fafafa;
    cursor: pointer;
}